/* About Section */
#about {
    background-color: #f8f9fa;
    padding: 60px 0;
  }
  
  /* Portfolio Section */
  #portfolio {
    padding: 60px 0;
  }
  
  /* Modal Styling */
  .modal-header {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Contact Section */
  #contact {
    padding: 60px 0;
  }
  
  /* Footer */
  footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    #portfolio .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  